:root {
  /* Background colors */
  --color-bg-body: rgb(20, 20, 20);
  --color-bg-card: rgb(31, 31, 31);
  --color-bg-button: rgb(51, 51, 51);

  /* Text colors */
  --color-text-default: rgb(255, 255, 255);
  --color-text-green: rgb(197, 248, 42);

  /* Font */
  --font-primary: 'Inter', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg-body);
  color: var(--color-text-default);
  font-family: var(--font-primary);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 20px;
}

.social-links-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links-card__container {
  background-color: var(--color-bg-card);
  border-radius: 12px;
  width: 380px;
}

.social-links-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 24px 0 24px;
}

.social-links-card__image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.social-links-card__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.social-links-card__subtitle {
  color: var(--color-text-green);
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  margin-bottom: 30px;
}

.social-links-card__links {
  list-style: none;
  text-align: center;
  padding-left: 0;
  padding: 24px;
}

.social-links-card__item {
  background-color: var(--color-bg-button);
  border-radius: 6px;
  margin-bottom: 16px;
}

.social-links-card__link {
  display: block;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text-default);
  padding: 16px 12px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.social-links-card__item:hover .social-links-card__link {
  background-color: var(--color-text-green);
  color: var(--color-bg-card);
}

.footer {
  margin: 2rem auto;
  text-align: center;
}

.footer__text {
  padding: 0.5rem;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer__link {
  color: var(--color-text-default);
}

.footer__link:hover {
  color: var(--color-text-green);
}

@media (max-width: 600px) {
  .social-links-card__container {
    margin: 0 12px;
  }
}
